<h2>Thanks for playing!</h2>

<h1>Maybe it's time to hit Vegas?</h1>

<p>Card images from <a href="http://en.wikipedia.org/?title=User:Cburnett/GFDL_images/Playing_cards">User:Cburnett/GFDL images/Playing cards</a> at Wikipedia</p>

<p>Card cover image from the Sinatra error message</p>