<h1>Welcome to Blackjack!</h1>

<form action='/username' method='post'>
  Can we please have your name?
  <br/>
  <input type='text' name='user_name' />
  <br/>
  <input type='submit' class='btn' />
</form>