h2 {
  color:#DB7093;
  font-family:cursive;
}

h1 {
  text-align:center;
  padding:2em;
}

h4 {
  color:#4682B4;
  font-family:Impact;
  text-align:center;
}

p {
  font-size:1.25em;
}

.dealt {
  color:#0000FF;
  font-family:cursive;
}

form#hit_form {
  float:left;
  margin-right:10px;
}

form#stay_form {
  float:left;
}

img.card_image {
  margin:0px 5px 5px 0px;
}